@{
    ViewData["Title"] = "Home Page";
}
<!-- Buscador  -->

        <form class="row row-cols-lg-auto g-3 align-items-center justify-content-center text-center">
            <div class="col-12">
              <!-- <label class="visually-hidden" for="inlineFormInputGroupUsername">Username</label> -->
              <div class="input-group">
                <div class="input-group-text">Destino</div>
                <input type="text" class="form-control" placeholder="Destino">
              </div>
            </div>
            <div class="col-12">
              <button type="submit" class="btn btn-primary">Buscar</button>
            </div>
          </form>


          <!-- Paquetes -->
<div class="container-fluid">
    <div id="contenedorPaquetes" class="row justify-content-center text-center">

        <!-- Contenedor Paquetes -->

    </div>
    <br>
    <!-- <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item"><a class="page-link" href="#">volver</a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">Mas</a></li>
        </ul>
      </nav> -->

</div>

<div id="contenido"></div>
<br>
      <!-- Hoteles  -->
      <div class="container">
          <h4>Detalles</h4>
          <p>Detalles de hotel</p>
          <div id="hoteles" class="container"></div>
          <div id="excursiones" class="container"></div>



      </div>
      
<!-- Terminos  -->
<div class="container">
    <div>
        <h3>Traslados</h3>
    <div>
        <p>• Aeropuerto / Hotel.</p>
        <p>• Hotel / Aeropuerto.

        </p>
    </div>
    </div>
    
<br>
<div>
    <h4>VUELOS</h4>
    <p>• Aéreo de Aerolíneas Argentinas con tarifa de low cost NO incluye equipaje de mano ni de bodega.</p>
    <p>• Horarios de vuelos sujetos a cambios sin previo aviso.</p>
    <p>• Cambios Aerolíneas Argentinas: Podés hacer un cambio de fecha sin pagar multa. Si existiera diferencia de tarifa entre tu pasaje original y la nueva fecha elegida deberás pagar ese monto.</p>
    <p>• Devoluciones: Sujetas a las condiciones de la tarifa provista por la aerolínea al momento de la compra.</p>
</div>
<br>
<div>
    <h4>SERVICIOS & HOTELES</h4>
    <p>• Precio publicado por persona.</p>
    <p>• Precios validos exclusivamente para residentes argentinos.</p>
    <p>• El precio total incluye impuestos y gastos de gestión.</p>
    <p>• NO INCLUYE: posibles tasas locales que podrían aplicarse en algunos destinos, y cuyo importe dependerá de la ciudad.</p>
    <p>• Cambios de servicios terrestres hasta 10 días antes de la fecha de entrada sin penalidad, solo aplicará diferencia de tarifa en caso de corresponder.</p>

</div>
</div>

<div class="container-fluid">
    <div id="contenedorComentarios class="row justify-content-center text-center">

        <!-- Contenedor Paquetes -->

    </div>
    <br>
    <!-- <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item"><a class="page-link" href="#">volver</a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">Mas</a></li>
        </ul>
      </nav> -->

</div>

<script src="~/js/paquetesPorDestino.js"></script>

